#nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 40%;

  list-style: none;
}

.nav-item {
  /* margin-right: 40px; */
}

.nav-link {
  text-decoration: none;
  font-size: 25px;
}

.nav-link:link {
  color: #1a374d;
}

.nav-link:visited {
  color: #1a374d;
  font-weight: bold;
}

.nav-link:hover {
  color: #1a374d;
}

.nav-link:active {
  color: #1a374d;
  font-weight: 500;
}
